# python_version: 36
# install six and setuptools before cryptography
six==1.16.0
PyYAML==6.0.2
Pygments==2.18.0
aiohttp==3.10.5
androguard==4.1.2
appnope==0.1.4
arrow==1.3.0
asn1crypto==1.5.1
async_timeout==4.0.3
attrs==24.2.0
backcall==0.2.0
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
colorama==0.4.6
cryptography==43.0.1
Cycler==0.12.1
decorator==5.1.1
defusedxml==0.7.1
dictdiffer==0.9.0
frozendict==2.4.4
future==1.0.0
google-api-python-client==2.145.0
httplib2==0.22.0
idna==3.10
idna_ssl==1.1.0
ipython==8.27.0
ipython_genutils==0.2.0
jedi==0.19.1
json-e==4.7.1
jsonschema==4.23.0
kiwisolver==1.4.7
lxml==5.3.0
matplotlib==3.9.2
mohawk==1.1.0
mozapkpublisher==7.0.2
multidict==6.1.0
networkx==2.1
numpy==1.14.3
oauth2client==4.1.2
parso==0.2.1
pexpect==4.9.0
pickleshare==0.7.4
prompt_toolkit==1.0.15
ptyprocess==0.7.0
pyOpenSSL==24.2.1
pyasn1==0.6.1
pyasn1-modules==0.2.1
pycparser==2.22
pyparsing==3.1.4
python-dateutil==2.9.0.post0
python-gnupg==0.5.2
pytz==2024.2
requests==2.32.3
rsa==4.9
scriptworker==60.4.0
simplegeneric==0.8.1
slugid==2.0.0
taskcluster==68.0.4
traitlets==4.3.2
uritemplate==3.0.0
urllib3==2.2.3
virtualenv==20.26.4
voluptuous==0.11.1
wcwidth==0.1.7
yarl==1.11.1
pushapkscript==0.7.0  # puppet: nodownload
