# python_version: 36
PyYAML==6.0.2
aiohttp==3.10.5
arrow==1.3.0
async_timeout==4.0.3
attrs==24.2.0
certifi==2024.8.30
chardet==5.2.0
click==6.7
defusedxml==0.7.1
dephash==1.0.0
dictdiffer==0.9.0
frozendict==2.4.4
hashin==0.13.0
idna==3.8
idna_ssl==1.1.0
json-e==4.7.1
jsonschema==4.23.0
mohawk==1.1.0
multidict==6.0.5
packaging==17.1
pexpect==4.9.0
pip-api==0.0.1
ptyprocess==0.7.0
pyparsing==2.2.0
python-dateutil==2.9.0.post0
python-gnupg==0.5.2
requests==2.32.3
scriptworker==60.4.0
six==1.16.0
slugid==2.0.0
taskcluster==3.0.1
urllib3==1.22
virtualenv==16.0.0
yarl==1.2.4
