# python_version: 27
# install six before cryptography
six==1.17.0
arrow==1.4.0
asn1crypto==1.5.1
backports.functools-lru-cache==2.0.0
backports.lzma==0.0.14
balrogscript==3.1.0  # puppet: nodownload
certifi==2026.7.22
cffi==2.1.1
chardet==7.6.0
click==8.4.2
construct==2.10.70
cryptography==50.0.0
enum34==1.1.10
functools32==3.2.3-2
idna==3.19
incremental==17.5.0
ipaddress==1.0.23
jinja2==2.10
jsonschema==4.26.0
mar==2.2.3
markupsafe==1.0
pyasn1==0.6.4
pycparser==2.18
python-dateutil==2.9.0.post0
requests==2.34.2
toml==0.9.4
towncrier==18.5.0
urllib3==2.7.0
