# python_version: 27
PyYAML==6.0
# don't upgrade twisted because it doesn't work with our buildbot
Twisted==12.3.0  # pyup: ignore
certifi==2023.5.7
chardet==5.1.0
idna==3.4
json-e==4.5.2
mohawk==1.1.0
requests==2.31.0
simplejson==3.19.1
six==1.16.0
slugid==2.0.0
taskcluster==54.1.2
urllib3==2.0.3
wsgiref==0.1.2
zope.interface==4.5.0
