# python_version: 27
# install six before cryptography
six==1.17.0
Jinja2==3.1.6
MarkupSafe==3.0.3
Twisted==26.4.0
argparse==1.4.0
cffi==2.1.1
cryptography==50.0.0
pyOpenSSL==26.4.0
pyasn1==0.6.4
pycparser==3.0
pycrypto==2.6.1
simplejson==4.1.1
wsgiref==0.1.2
zope.interface==8.5
