# python_version: 27
# install six before cryptography
six==1.16.0
Jinja2==3.1.4
MarkupSafe==2.1.5
# doesn't work with our version of buildbot
Twisted==10.1.0  # pyup: ignore
argparse==1.4.0
cffi==1.17.0
cryptography==43.0.0
pyOpenSSL==24.2.1
pyasn1==0.6.0
pycparser==2.22
pycrypto==2.6.1
simplejson==3.19.3
wsgiref==0.1.2
zope.interface==7.0.3
incremental==24.7.2
constantly==23.10.4
automat==24.8.1
attrs==24.2.0
hyperlink==21.0.0
idna==3.8
enum34==1.1.10
ipaddress==1.0.23
asn1crypto==1.5.1
sqlalchemy==2.0.32
