# python_version: 27
# install six before cryptography
six==1.17.0
Jinja2==3.1.6
MarkupSafe==3.0.3
# doesn't work with our version of buildbot
Twisted==10.1.0  # pyup: ignore
argparse==1.4.0
cffi==2.1.1
cryptography==50.0.1
pyOpenSSL==26.4.0
pyasn1==0.6.4
pycparser==3.0
pycrypto==2.6.1
simplejson==4.1.2
wsgiref==0.1.2
zope.interface==8.6
incremental==24.11.0
constantly==23.10.4
automat==0.6.0
attrs==26.1.0
hyperlink==18.0.0
idna==3.19
enum34==1.1.10
ipaddress==1.0.23
asn1crypto==1.5.1
sqlalchemy==2.0.52
