# python_version: 27
MySQL-python==1.2.5
SQLAlchemy==1.4.36
pytz==2022.1
# Pinning to avoid investigating if an update would break
# https://bugzilla.mozilla.org/show_bug.cgi?id=1289822#c7
requests==2.27.1
simplejson==3.17.6
wsgiref==0.1.2
