# python_version: 36
Jinja2==2.10
MarkupSafe==1.0
PyYAML==6.0.3
aiohttp==3.14.3
arrow==1.4.0
async_timeout==5.0.1
attrs==26.1.0
beetmoverscript==7.3.0  # puppet: nodownload
boto3==1.43.83
botocore==1.43.83
certifi==2026.7.22
chardet==7.6.0
click==6.7
defusedxml==0.7.1
dictdiffer==0.10.0
docutils==0.23
frozendict==2.4.7
idna==3.19
idna_ssl==1.1.0
incremental==17.5.0
jmespath==1.1.0
json-e==4.8.4
jsonschema==4.26.0
mohawk==1.1.0
multidict==6.7.1
pexpect==4.9.0
ptyprocess==0.7.0
python-dateutil==2.9.0.post0
python-gnupg==0.5.6
redo==3.0.0
requests==2.34.2
s3transfer==0.19.2
scriptworker==63.4.2
six==1.17.0
slugid==2.0.0
taskcluster==107.0.0
toml==0.9.4
towncrier==18.5.0
urllib3==2.7.0
virtualenv==21.7.7
yarl==1.24.5
